// ==========================================================================
// Page
// ==========================================================================

@include border-box-sizing;

html {
	font-size: ($global-font-size / 16px) * 1rem;
	line-height: $global-line-height / $global-font-size;
	overflow-y: scroll;
	height: 100%;
}

.page-wrap {
	padding-top: 45px;

	@include bp(large) {
		padding-top: 0;
	}
}

.container {
	@include container();
}