// ==========================================================================
// Helper: Image replacement
// ==========================================================================

.ir {
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
}