header.zone.zone-white
	.container
		a(class="header-logo", href="/", rel="home")
			img(
				src="./img/ui/logo/kcl-logo.jpg",
				alt="King's College London"
			)

		a.hamburger#nav-open
			span Toggle menu
