extends base.part

block content
	.zone
		.container

			h1 Heading 1
			p Lorem ipsum dolor sit amet, equidem veritus laboramus ea est, elit quaestio et nec, eum in nobis omnes definitiones.
			h2 Heading 2
			p Lorem ipsum dolor sit amet, equidem veritus laboramus ea est, elit quaestio et nec, eum in nobis omnes definitiones.
			h3 Heading 3
			p Lorem ipsum dolor sit amet, equidem veritus laboramus ea est, elit quaestio et nec, eum in nobis omnes definitiones.
			h4 Heading 4
			p Lorem ipsum dolor sit amet, equidem veritus laboramus ea est, elit quaestio et nec, eum in nobis omnes definitiones.
			h5 Heading 5
			p Lorem ipsum dolor sit amet, equidem veritus laboramus ea est, elit quaestio et nec, eum in nobis omnes definitiones.
			h6 Heading 6
			p Lorem ipsum dolor sit amet, equidem veritus laboramus ea est, elit quaestio et nec, eum in nobis omnes definitiones.

			#tabs-1
				.tabs
					.tab
						h1 Tab 1
						p Text 1 - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, totam obcaecati quasi quisquam quos quaerat nam ullam impedit sunt ipsam voluptates unde deserunt animi magni eum tempore accusantium fugiat fugit.

					.tab
						h1 Tab 2
						p Text 2 - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, totam obcaecati quasi quisquam quos quaerat nam ullam impedit sunt ipsam voluptates unde deserunt animi magni eum tempore accusantium fugiat fugit.

					.tab
						h1 Tab 3
						p Text 3 - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, totam obcaecati quasi quisquam quos quaerat nam ullam impedit sunt ipsam voluptates unde deserunt animi magni eum tempore accusantium fugiat fugit.

					.tab
						h1 Tab 4
						p Text 4 - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, totam obcaecati quasi quisquam quos quaerat nam ullam impedit sunt ipsam voluptates unde deserunt animi magni eum tempore accusantium fugiat fugit.

			svg(class="icon")
				use(xlink:href="ui-nav-close")
