// ==========================================================================
// Mixin: Ratio
// ==========================================================================

// A list of aspect ratios that get generated as modifier classes.

$ratios: (
	2:1,
	4:3,
	16:9,
) !default;

// Create ratio-bound content blocks, to keep media (e.g. images, videos) in
// their correct aspect ratios.
// http://alistapart.com/article/creating-intrinsic-ratios-for-video
//
// Default cropping is a 1:1 ratio (i.e. a perfect square).

.ratio {
	position: relative;
	display: block;
	overflow: hidden;

	&::before {
		content: '';
		display: block;
		width: 100%;
		padding-bottom: 100%;
	}

}

.ratio-content,
.ratio > iframe,
.ratio > embed,
.ratio > object {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	height: 100%;
	width: 100%;
}


// Generate a series of ratio classes to be used like so:
// <div class='ratio ratio-16:9'>

@each $antecedent, $consequent in $ratios {

	@if (type-of($antecedent) != number) {
		@error '`#{$antecedent}` needs to be a number.'
	}

	@if (type-of($consequent) != number) {
		@error '`#{$consequent}` needs to be a number.'
	}

	.ratio-#{$antecedent}\:#{$consequent}:before {
		padding-bottom: ($consequent / $antecedent) * 100%;
	}

}