// ==========================================================================
// Colors
// ==========================================================================

// Generic colors
$body-color: rgb(255, 255, 255);
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);

// Brand colors
$kings-red: rgb(235, 47, 45);
$kings-blue: rgb(10, 45, 80);

// Faculty colors